@darkergrey: #333333;
@darkgrey: #666666;
@grey: #999999;
@lightgrey: #CCCCCC;
@green: #ABDB25;
@darkgreen: #6e8c19;

body {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: lighter;
    color: @darkgrey;
    overflow-x: hidden;
    overflow-y: hidden;

    .gone {
        display: none;
    }

    .button {
        background: @grey;

        &:focus,
        &:hover {
            background: @darkgrey;
        }

        &.success {
            background: @green;

            &:focus,
            &:hover {
                background: @darkgreen;
            }
        }
    }

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 20;

        .intro-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            display: none;

            span {
                width: 100%;
                text-align: center;
                display: block;

                &.nirania {
                    font-size: 40px;
                    font-weight: normal;
                    color: @darkergrey;
                }
            }
        }
    }

    .scores {
        position: absolute;
        right: 0;
        background: none;
        width: 150px;

        table {
            tbody {
                border: none;
                background: rgba(0, 0, 0, 0.56);
                color: white;

                tr {
                    background: none;
                }
            }
        }
    }

    #gameoverScreen,
    #successScreen {
        position: absolute;
        background: none;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 20;

        .wrapper {
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            position: absolute;
            text-align: center;
        }
    }

    .instruction {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.56);
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        color: white;
    }

    .dividers {
        width: 100%;
        height: 100%;
        position: absolute;

        .left,
        .right {
            width: 50%;
            height: 100%;
            background: white;
            transition: width 2s;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }
}
