<div id="gameoverScreen">
    <div class="wrapper">
        <h1>Game Over</h1>
        <h3>Level {{level}}</h3>
        <br>
        <br>
        <p>{{score}} <i class="fa fa-diamond" aria-hidden="true"></i></p>
        <br>
        <a href="/#{{level}}" class="button reload">
            <i class="fa fa-repeat" aria-hidden="true"></i> Run again
        </a>
        <div class="shopScreen"></div>
    </div>
</div>
