<div id="successScreen">
    <div class="wrapper">
        <h1>Level {{level}}</h1>
        <br>
        <br>
        <p> Diamonds: {{score}}</p>
        <br>
        <a href="/#{{level}}" class="button reload">
            <i class="fa fa-repeat" aria-hidden="true"></i> Run again
        </a>
        <a href="/#{{next}}" class="button success reload {{last}} {{disableNextLevel}}">
            <i class="fa fa-check" aria-hidden="true"></i> Next Level
        </a>
        </a>
        {{#canNotBePlayed}}
            <div class="callout alert">
                More diamonds required
            </div>
        {{/canNotBePlayed}}

        <div class="shopScreen"></div>

    </div>
</div>
