  <!-- START CONTENT -->
  <div class="loading">
      <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
      </div>
      <p>Loading ...</p>
  </div>

  <div class="game-name" style="display: none;">
      <h1>Name of the Game</h1>
  </div>
  <div class="intro" style="display: none;">
      <p>Press any key to start</p>
  </div>

  <div class="scores">
      <table>
          <tr>
              <td>Distance</td>
              <td class="distance"><span>0</span></td>
          </tr>
          <tr>
              <td>Angle</td>
              <td class="angle"><span>0</span></td>
          </tr>
          <tr>
              <td>Diamonds</td>
              <td class="diamonds"><span>0</span></td>
          </tr>
      </table>
  </div>

  
  <!-- END CONTENT -->
