
<div class="blackOverlay"></div>

<div class="intro">
    <div class="orbit large-9" role="region" aria-label="Favorite Space Pictures" data-orbit data-timer-delay="5000">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            <li class="is-active orbit-slide">
                <img class="orbit-image" src="/img/story/slider/1.jpg" alt="Space">
                <figcaption class="orbit-caption">
                    {{{l.outro.slide1}}}
                </figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" src="/img/story/slider/1.jpg" alt="Space">
                <figcaption class="orbit-caption">
                    {{{l.outro.slide2}}}
                </figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" src="/img/story/slider/1.jpg" alt="Space">
                <figcaption class="orbit-caption">
                    {{{l.outro.slide3}}}
                </figcaption>
            </li>
        </ul>
    </div>
    <br>
    <a href="/" class="button"><i class="fa fa-repeat" aria-hidden="true"></i> {{l.outro.playAgain}}</a><br>
    <a href="{{l.outro.url}}">{{l.outro.urlButton}}</a>
</div>
