.level-end {
  z-index: 3000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auto-starter div {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  opacity: 0.8;
  color: #33333385;
}

.level-repeat,
.level-next,
.level-list {
  width: auto;
  float: left;
  cursor: pointer;
  opacity: 0.8;
  padding: 2rem;
}

.level-next.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.level-repeat svg,
.level-next svg,
.level-list svg {
  height: 50px !important;
  width: 50px !important;
}

.level-repeat div,
.level-next div,
.level-list div {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 1rem;
}


@media only screen and (max-width : 1024px) {

  .level-repeat,
  .level-next,
  .level-list {
    padding: 0;
    padding-bottom: 1rem;
    width: 100%;
  }

  .level-repeat svg,
  .level-next svg,
  .level-list svg {
    height: 50px !important;
    width: 50px !important;
  }

  .level-repeat div,
  .level-next div,
  .level-list div {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    line-height: 1rem;
  }

  .auto-starter {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0rem;

  }

  .auto-starter div {
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.1rem;
  }
}

.level-success p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 35px;
  color: #1B5E20;
}

.level-success.failure p {
  color: #b71c1c;
}

.level-success .diamonds {
  font-size: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

#diamond {
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-bottom-color: white;
  position: relative;
  top: -1rem;
  float: left;
  margin-right: 1rem;
}
