body {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: lighter;
  color: #666666;
  overflow-x: hidden;
  overflow-y: hidden;
}
body kbd {
  background-color: #ededed;
  border-color: #dddddd;
  color: #222222;
  border-style: solid;
  border-width: 1px;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: inherit;
  margin: 0;
  padding: 0.11111rem 0.22222rem 0;
  border-radius: 3px;
}
body h1 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  font-family: 'Ubuntu', sans-serif;
}
body p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
  font-family: 'Ubuntu', sans-serif;
}
body .gone {
  display: none;
}
body a.button {
  text-decoration: none;
}
body .button {
  color: white;
  background: #999999;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0 1rem;
  font-size: 0.9rem;
}
body .button:focus,
body .button:hover {
  background: #666666;
}
body .button.success {
  background: #ABDB25;
}
body .button.success:focus,
body .button.success:hover {
  background: #6e8c19;
}
body .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}
body .overlay .intro-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: none;
}
body .overlay .intro-text span {
  width: 100%;
  text-align: center;
  display: block;
}
body .overlay .intro-text span.nirania {
  font-size: 40px;
  font-weight: normal;
  color: #333333;
}
body .scores {
  position: absolute;
  right: 0;
  background: none;
  width: 150px;
}
body .scores table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.56);
}
body .scores table tbody {
  border: none;
  color: white;
}
body .scores table tbody tr {
  background: none;
}
body #gameoverScreen,
body #successScreen {
  position: absolute;
  background: none;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 20;
}
body #gameoverScreen .wrapper,
body #successScreen .wrapper {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  position: absolute;
  text-align: center;
}
body .instruction {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.56);
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}
body .dividers {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
body .dividers .left,
body .dividers .right {
  width: 50%;
  height: 100%;
  background: white;
  transition: width 2s;
}
body .dividers .left {
  float: left;
}
body .dividers .right {
  float: right;
}
body .can-not-be-played {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
body .can-not-be-played button {
  margin-top: 40px;
}
