body {
  font-family: 'Ubuntu', sans-serif !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
body .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  color: black;
  z-index: 20;
}
body .overlay span {
  color: black;
}
body .overlay .intro-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: none;
}
body .overlay .intro-text span {
  width: 100%;
  text-align: center;
  display: block;
}
body .overlay .intro-text span.nirania {
  font-size: 40px;
}
body #gameoverScreen,
body #successScreen {
  position: absolute;
  background: none;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 20;
}
body #gameoverScreen .wrapper,
body #successScreen .wrapper {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  position: absolute;
  text-align: center;
}
body .dividers {
  width: 100%;
  height: 100%;
  position: absolute;
}
body .dividers .left,
body .dividers .right {
  width: 50%;
  height: 100%;
  background: white;
  transition: width 2s;
}
body .dividers .left {
  float: left;
}
body .dividers .right {
  float: right;
}
