body {
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: lighter;
  color: #666666;
  overflow-x: hidden;
  overflow-y: hidden;
}
body .gone {
  display: none;
}
body .button {
  background: #999999;
}
body .button:focus,
body .button:hover {
  background: #666666;
}
body .button.success {
  background: #ABDB25;
}
body .button.success:focus,
body .button.success:hover {
  background: #6e8c19;
}
body .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}
body .overlay .intro-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: none;
}
body .overlay .intro-text span {
  width: 100%;
  text-align: center;
  display: block;
}
body .overlay .intro-text span.nirania {
  font-size: 40px;
  font-weight: normal;
  color: #333333;
}
body .scores {
  position: absolute;
  right: 0;
  background: none;
  width: 150px;
}
body .scores table tbody {
  border: none;
  background: rgba(0, 0, 0, 0.56);
  color: white;
}
body .scores table tbody tr {
  background: none;
}
body #gameoverScreen,
body #successScreen {
  position: absolute;
  background: none;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 20;
}
body #gameoverScreen .wrapper,
body #successScreen .wrapper {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  position: absolute;
  text-align: center;
}
body .instruction {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.56);
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}
body .dividers {
  width: 100%;
  height: 100%;
  position: absolute;
}
body .dividers .left,
body .dividers .right {
  width: 50%;
  height: 100%;
  background: white;
  transition: width 2s;
}
body .dividers .left {
  float: left;
}
body .dividers .right {
  float: right;
}
