<div class="can-not-be-played">
    <h1>Hey, you're trying to cheat!</h1>
    <p>You tried to skip some levels. </p>
    <button class="button success" id="lastSuccessfulLevel">Go to last level</button>
</div>
