<div class="row">
    <div class="powerups">
        {{#powerups}}
            <div class="powerup {{disabled}}" id="powerup-{{id}}">
                <!--<img src="{{img}}" />-->
                </br>
                <span class="description">{{description}}</span>
                </br>
                <span class="diamonds">
          <i class="fa fa-diamond" aria-hidden="true"></i>
          {{diamonds}}
        </span>
            </div>
        {{/powerups}}
    </div>
</div>
