<h3>Free family members</h3>
<p>With your collected diamonds you are able to free family members.
  Freeing your family enlarges your skill set, like turning faster.</p>
<div class="large-12 medium-12 small-12 total-diamonds">
    <b>
      <span>Total:
        <span class="diamonds">{{total}}</span>
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </span>
    </b>
</div>
<br><br>
<div class="large-12 medium-12 small-12">
    {{#powerups}}
        <div class="small-12 medium-3 large-3 columns powerup">
            <div class="image-wrapper overlay-slide-in-left">
                <img src="{{img}}" />
                <div class="image-overlay-content">
                  <div class="content">
                    <p>{{{description}}}</p>
                    <a class="button secondary {{disabled}}" id="buy-powerup-{{id}}">
                  Free for
                  {{diamonds}} <i class="fa fa-diamond" aria-hidden="true"></i>
                </a>
              </div>
                </div>
            </div>
        </div>
    {{/powerups}}
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<script>
    $(document).foundation();
</script>
