.explanation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s;
}

.explanation.hidden {
  opacity: 0;
}
.explanation .text {
  width: 100%;
  height: 70%;
  position: relative;
}

.explanation .text p {
  text-align: center;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


.keyboard {
  width: 165px;
  margin-left: auto;
  margin-right: auto;
}

.keyboard .row-1, .keyboard .row-2 {
  width: 100%;
  display: inline-flex;
}

.keyboard .arrow-up, .keyboard .arrow-down, .keyboard .arrow-right, .keyboard .arrow-left {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 5px;
  margin-right: 5px;
}


.keyboard .arrow-up {
  margin-left: 55px;
}

.keyboard .arrow-up svg, .keyboard .arrow-down svg, .keyboard .arrow-left svg, .keyboard .arrow-right svg {
  width: 30px !important;
  height: 30px !important;
  margin-left: 10px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5) !important;
}

.keyboard .arrow-up svg {
  transform: rotate(90deg);
}

.keyboard .arrow-down svg {
  transform: rotate(-90deg);
}

.keyboard .active {
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  50% { background: white; }
}
