<div class="can-not-be-played">
  <h1>Hey, you're trying to cheat!</h1>
  <span>You may not play this level. First finish level X.</span>
  <a id="lastSuccessfulLevel">Go to playable level</a>
</div>
