<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirania</title>

    <!-- Foundation -->
    <link rel="stylesheet" href="/foundation-6.2.3-complete/css/foundation.css">
    <link rel="stylesheet" href="/foundation-6.2.3-complete/css/app.css">

    <!-- Livereload -->
    <!-- <script src="//192.168.0.52:35729/livereload.js"></script> -->
    <script src="//127.0.0.1:35729/livereload.js"></script>

    <!-- Font awesome -->
    <link href="/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="css/shop-hover-foundation.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
</head>

<body>

    {{> content}}

    <script src="/gen/js.js"></script>

    <!-- Foundation -->
    <script src="/foundation-6.2.3-complete/js/vendor/jquery.js"></script>
    <script src="/foundation-6.2.3-complete/js/vendor/what-input.js"></script>
    <script src="/foundation-6.2.3-complete/js/vendor/foundation.js"></script>
    <script src="/foundation-6.2.3-complete/js/app.js"></script>

    {{> callFunction}}

</body>

</html>
